.value1 {
  margin: 20px;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  height: 50px;
  width: 100px;
  cursor: pointer;
  outline: none;
  background-color: #382f5a;
}
